@import "./wrapper.css";
@import "./header.css";
@import "./link.css";
@import "./sticky.css";
@import "./hero.css";
@import "./section.css";
@import "./footer.css";

:root {
  font-size: 16px;
  scroll-behavior: smooth;
  --baseFont: "Poppins", sans-serif;
  --bg: #0b1d26;
  --white: #ffffff;
  --accent: #fdd130;
  --headline1: 500 5.5rem/6.25rem var(--baseFont);
  --headline2: bold 4rem / normal var(--baseFont);
  --bold: bold 1.125rem/2rem var(--baseFont);
  --medium: 500 1.125rem/2rem var(--baseFont);
  --body: normal 1.125rem/2rem var(--baseFont);
  --button: bold 1.125rem / normal var(--baseFont);
}

body {
  font-family: var(--baseFont);
  margin: 0;
  min-block-size: 100vh;
  background: var(--bg);
}
